<mat-toolbar color="primary">
  <button mat-button>
    <mat-icon (click)="back()">arrow_back</mat-icon>
  </button>
  <span>Weather details</span>
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <div class="example-fill-remaining-space">
      <mat-card-title>{{location.name}}</mat-card-title>
      <mat-card-subtitle>{{location.country}}</mat-card-subtitle>
    </div>
    <div >
      <button mat-icon-button (click)="refresh()" ><mat-icon>refresh</mat-icon></button>
    </div>
  </mat-card-header>

<mat-card-content>
  <div style="text-align: center;">

    <div style="font-size: smaller; margin-right: 100px;">
      <span style="color: red">{{info?.temp_max}}ºC</span>
      <BR>
        <span style="color: blue">{{info?.temp_min}}ºC</span>
      <BR>
    </div>
    <div style="margin-top: -60px; margin-left:60px">
      <mat-card-title>
        <span>{{ info?.temp}}ºC <img [src]="'http://openweathermap.org/img/w/' + info?.icon +'.png'"></span>

      </mat-card-title>
    </div>
      <br>
    <mat-card-subtitle>Clouds</mat-card-subtitle>
    <mat-card-subtitle>HUMIDITY: {{info?.humidity}}%</mat-card-subtitle>
    <mat-card-subtitle>CLOUDS: {{info?.clouds}} %</mat-card-subtitle>
    <mat-card-subtitle>PRESSURE: {{info?.pressure}}hPa</mat-card-subtitle>
    <mat-card-subtitle>WIND: {{info?.wind}}km/h</mat-card-subtitle>
    <mat-card-subtitle *ngIf="info.snow">SNOW: {{info?.snow}}</mat-card-subtitle>
  </div>

</mat-card-content>

</mat-card>

